<div class="padding" ng-controller="EditProfileController">
  <super-navbar>
    <super-navbar-title>Editar Perfil</super-navbar-title>
    <super-navbar-button side="right" ng-click="listo()">
      Listo
    </super-navbar-button>
  </super-navbar>
	<div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Nombre</span>
	    <input value="{{userName}}" type="text" placeholder="Ingresa Nombre">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Rut</span>
	    <input value="{{userRut}}" type="text" placeholder="Ingresa Rut">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">E-mail</span>
	    <input value="{{userMail}}" type="text" placeholder="Ingresa E-mail">
	  </label>
	</div>

  
</div>
