.supersonic-navbar-mock {
  background-color: #EE8000 !important;
  text-align: center;
  font-weight: 600;
}

.vertical-centered-text {
  height: 70px;
  padding-top: 20px;
  display: table;
/*  background-color: red;
*/}
 .vertical-centered-text > * {
    display: table-cell;
    vertical-align: middle;
 }
.gradient{
	background: rgba(255,144,0,1);
background: -moz-linear-gradient(left, rgba(255,144,0,1) 0%, rgba(255,163,51,1) 50%, rgba(255,146,10,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,144,0,1)), color-stop(50%, rgba(255,163,51,1)), color-stop(100%, rgba(255,146,10,1)));
background: -webkit-linear-gradient(left, rgba(255,144,0,1) 0%, rgba(255,163,51,1) 50%, rgba(255,146,10,1) 100%);
background: -o-linear-gradient(left, rgba(255,144,0,1) 0%, rgba(255,163,51,1) 50%, rgba(255,146,10,1) 100%);
background: -ms-linear-gradient(left, rgba(255,144,0,1) 0%, rgba(255,163,51,1) 50%, rgba(255,146,10,1) 100%);
background: linear-gradient(to right, rgba(255,144,0,1) 0%, rgba(255,163,51,1) 50%, rgba(255,146,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9000', endColorstr='#ff920a', GradientType=1 );
}
#list-profile{
	color:black;
}
#list-profile i{
	color:#E6E6E6;
  font-size: 1.8em;
}
.list-detail img{
  border-radius: 0 !important;
}